@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background1: #000000;
  --background2: #000000;
  --background3: #4a598b;
  --foreground: #171717;
  --primary: ;
  --secondary: #1d0dad4b;
  --tertiary: #380dad;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background1: #000000;
    --background2: #000000;
    --background3: #4a598b;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
    to left,
    var(--background1),
    var(--background3),
    var(--background2)
  );
  font-family: Arial, Helvetica, sans-serif;
}


*::-webkit-scrollbar {
  width: 17px;
  background-color: #18181b ;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 6px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}
