@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background1: #06050e;
  --background2: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background1: #180b0b;
    --background2: #160707;
    --foreground: #f0f0f0;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to left, var(--background1), var(--background2));
  font-family: Arial, Helvetica, sans-serif;
}
